@import "tailwindcss";

html {
  font-size: 50%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

@keyframes animationShowMessage {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
